header {
    background-color:darkslategray;
    color: white;
    padding: 20px;
    text-align: center;
}
footer {
    background-color: darkslategray;
    padding: 20px;
    color: #fff;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkslategray;
    color:white
}
img {
    width: 100%;
    display: block;
}
