<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoticiasBNB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href="biden.css"/>
</head>
<header>
        <header>
                <svg xmlns="http://www.w3.org/2000/svg" width="1" height="1" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                </svg>
            <div class="header-right">
            <div class="search-bar">
                <input type="text" placeholder="Buscar">
                <a href="..."><button>Buscar</button></a>
            </div>
            
</header>
<body>
    <center><h1>“Me faltan palabras…”: los testimonios que retratan la crítica situación que se vive en la Franja de Gaza</h1></center>
    <br>
    <br>
    <h4>
        Entre bombardeos constantes y riesgos sanitarios es lo que desprende el relato de dos funcionarias de Médicos Sin Fronteras.</h4>
    <img src="img/gaza.jpg" alt="...">
    <br>
    <br>
    <h5>
        La crítica situación humanitaria que se vive en dicho territorio, la mortal explosión del Hospital Al-Ahli de Gaza este martes contribuyó a empeorar el ambiente de guerra y generó diversas protestas sociales en la región.
        <br>
        <br>
        Israa Ali, traductora de Médicos Sin Fronteras (MSF) se encuentra en Jabalia, al norte de Gaza, y durante varios días ha debido desplazarse a causa de los bombardeos junto a sus hijos.
        <br>
        <br>
        “Me faltan palabras para describir un día en la vida de la gente de Gaza en estos momentos. La mañana empieza básicamente cuando nos despertamos. Damos vueltas en la cama e intentamos dormir un rato, pero el ruido de los bombardeos no nos deja”, expresa.
        <br>
        <br>
        Desde lo anterior, ella describe que se mantienen despiertos escuchando las noticias en la radio, ya que no cuentan con electricidad e internet. Al mismo tiempo que en plena era moderna sus teléfonos están muertos.
        <br>
        <br>
        Posteriormente, corren para revisar si hay combustible para lograr encender el generador, pero se dieron cuenta que también no funciona. Es ahí cuando ella destaca que “vivimos en una Gaza sitiada”.
        <br>
        <br>
        Luego, agrega que cuando se tiene hijos, se hace todo lo posible para protegerlos y proporcionarles de todo. No prestando atención a las numerosas veces que se escucha el sonido de las bombas cayendo durante el día. “Ese es un momento en el que se supone que debes ser una madre o padre fuerte, pero lo cierto es que necesitas a alguien que te tranquilice”, sostiene.
        <br>
        <br>
        Al mismo tiempo, recuerda que tienen el anochecer, donde los drones israelíes, los aviones de guerra, los buques de guerra, los cohetes pesados y las bombas se extienden “como un reguero de pólvora”. Y al calmarse ella y sus hijos, igualmente muchas veces se despiertan llorando.
        <br>
        <br>
        “Pienso en mi padre, mi madre y mi familia, que se refugian lejos, pero en las mismas circunstancias. Intentas pensar en positivo, en que están lejos de los objetivos de las bombas, pero es en vano, estaré preocupada hasta que escuche sus voces”, finaliza.
        <br>
        <br>
    </h5>
    <h3>Testimonio de los medicos</h3>
    <img src="img/franja.jpg" alt="...">
    <h5>
        <br>
        Guillemette Thomas, coordinadora médica de Médicos Sin Fronteras (MSF) para los Territorios Palestinos Ocupados, con base en Jerusalén, comenta que las pocas instalaciones médicas que continúan abiertas en el norte de Gaza trabajan en condiciones paupérrimas, con escasez de personal, medicamentos y equipos médicos.
        <br>
        <br>
        Así mismo, que desde la orden de evacuación emitida por las autoridades israelíes, que obligó a más de un millón de habitantes a desplazarse al sur de la Franja, la población debió tomar decisiones difíciles entre quedarse o marcharse. Esto significó que el personal sanitario también debiese decidir si abandonar pacientes a una muerte casi segura o quedarse y arriesgar sus vidas.
        <br>
        <br>
        Hoy, el personal médico sufre la misma suerte que el resto de los gazatíes: son bombardeados constantemente desde hace 10 días. “Nuestros colegas nos cuentan que muchos médicos y otros trabajadores sanitarios han muerto desde el inicio de la ofensiva israelí”, relata Thomas.
        <br>
        <br>
        La funcionaria informó que entre 800 y 1.000 personas son heridas cada día en la Franja de Gaza, pero esta cifra sólo incluye a quienes consiguen llegar a un hospital. Desde el comienzo del conflicto, hay más de 9.700 personas heridas.
        <br>
        <br>
    </h5>