<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoticiasBNB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href="biden.css"/>
</head>
<header>
        <header>
                <svg xmlns="http://www.w3.org/2000/svg" width="1" height="1" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                </svg>
            <div class="header-right">
            <div class="search-bar">
                <input type="text" placeholder="Buscar">
                <a href="..."><button>Buscar</button></a>
            </div>
            
</header>
<body>
    <center><h1>Aseguran que Damián Pizarro es seguido por varios clubes europeos</h1></center>
    <br>
    <br>
    <h4>El joven delantero albo llama la atención en el "Viejo continente".</h4>
    <img src="img/damian.jpg" alt="...">
    <h5>
    <br>
    Una irrupción explosiva ha tenido Damián Pizarro en Colo-Colo. Y ahora el joven atacante estaría siendo observado por diversos clubes europeos que ven en el futbolista un interesante proyecto a futuro.
    <br>
    <br>
    Pese a que Pizarro solo ha anotado un gol, su facilidad para llevarse rivales y su gran envergadura física han llamado la atención de conjuntos de la liga belga.
    <br>
    <br>
    Por ahora en las oficinas de Macul no ha llegado ninguna oferta formal, pero saben muy bien que hay un gran interés el jugador, quien es uno de los grandes proyectos que tienen en la institución.
    <br>
    <br>
    Sin embargo, según el sitio nacional En Cancha, tres clubes de Bélgica estarían tras los pasos de Damián: Brujas, Anderlecht y Royale Union Saint-Gilloise. Los dos primeros son las instituciones más reconocidas de la liga, mientras que los últimos vienen de firmar una gran temporada, en la que fue subcampeón.
    <br>
    <br>
    Por ahora la joven promesa continua entrenando en colo colo esperando a que se resuelva su futuro.
    <br>
    <br>
    </h5>
    <h3>Damian en la seleccion</h3>
    <img src="img/dpizarro.jpg" alt="...">
    <br>
    <h5>
        Si hay un delantero que ha tenido en 2023 un crecimiento importante, ese es Damián Pizarro, que en nueve meses pasó de debutar con Colo Colo, a tener la oportunidad de ser citado a la Selección Chilena, incluso, con posibilidades de poder hacer su debut como titular en las Eliminatorias rumbo al Mundial 2026.
    <br>
    <br>
    Más allá de las críticas por su poca efectividad en las redes, el delantero de apenas 18 años le ganó a experimentados en el Cacique, logró medalla de plata en los Juegos Panamericanos Santiago 2023, y recibió su primera convocatoria para La Roja Adulta.
    <br>
    <br>
    Tanto es el crecimiento de Damián Pizarro, que en las últimas prácticas en Juan Pinto Durán, el técnico Eduardo Berizzo no dudó en ponerlo en el posible 11 titular, como ‘9’, rodeado por Víctor Dávila y Ben Brereton, y lo más llamativo, obliga a retroceder en la cancha a Alexis Sánchez.
    <br>
    <br>
    </h5>
    <h3>¿Porque ponen las fichas en Damian Pizarro?</h3>
    <br>
    <h5>
    Por un lado, el hoy jugador del Toulouse francés, sostiene que “para mí, Pizarro ha demostrado que está para competir y que es decisión del técnico si él era llamado o no; yo se lo dije, que debería estar acá, que se prepare porque tiene que ser su objetivo y lo cumplió. No me sorprende nada, porque lo conozco y sé la calidad de jugador que es“.
    <br>
    <br>
    Mientras que Vicente Pizarro, sostuvo sobre Damián que “lo conozco hace mucho tiempo. Estoy muy feliz por su presente. Trabajó mucho para poder estar acá. Obviamente tiene que seguir mejorando, es su primer año como profesional, entonces todo le pasó muy rápido. Creo que tiene merecido el lugar donde está y ojalá pueda seguir mejorando y sumando cosas“.
    <br>
    <br>
    </h5> 