<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoticiasBNB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href="biden.css"/>
</head>
<header>
        <header>
                <svg xmlns="http://www.w3.org/2000/svg" width="1" height="1" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                </svg>
            <div class="header-right">
            <div class="search-bar">
                <input type="text" placeholder="Buscar">
                <a href="..."><button>Buscar</button></a>
            </div>
            
</header>
<body>
    <center><h1>La F1 hizo furor: 80 mil chilenos vibraron con el Red Bull Showrun</h1></center>
    <br>
    <br>
    <center><h3>El auto del showrun fue conducido por el austriaco Patrick Friesacher, ex piloto de Fórmula 1 y especialista en exhibiciones. ¡Entérate de más aquí! </h3></center>
    <img src="img/f1.jpeg" alt="...">
    <h5>
    <br>
    Furor en el corazón de Las Condes se vivió el domingo, con la locura de la Fórmula 1 tomándose Apoquindo. Más de 80 mil personas se reunieron alrededor de la avenida para presenciar una nueva versión de Red Bull Showrun, evento gratuito y abierto al público que no se celebraba en Chile desde 2012.
    <br>
    <br>
    El RB7, histórico monoplaza de Oracle Red Bull Racing con el que Sebastian Vettel campeonó en 2011, recorrió a máxima velocidad la recta de Las Condes, en una espectacular jornada cargada de emoción, donde los fanáticos de la F1 pudieron presenciar en primera persona cómo suena un auto de la escudería campeona del mundo por tercer año consecutivo.
    <br>
    <br>
    Para esta oportunidad, el auto del showrun fue conducido por el austriaco Patrick Friesacher, ex piloto de Fórmula 1 y especialista en exhibiciones, quien llegó a Chile tras pasar por diferentes ciudades como Dublín, Madrid, Chicago o Mumbai.
    <br>
    <br>
    En la animación, los encargados de darle vida y emocionar a los más de 80 mil personas que llegaron hasta Apoquindo fue la icónica dupla argentina de periodistas deportivos, Fernando Tornello y Juan Fossaroli, quienes animaron a todo el público presente, que desde tempranas horas de la mañana se congregó para escuchar en vivo y en directo el sonido de un F1 y presenciar las increíbles velocidades que puede alcanzar.
    <br>
    <img src="img/formula.jpg" alt="...">
    <br>
    Antes del recorrido del monoplaza, una serie de actividades mantuvieron prendida la fiesta para el público, entre las que destacaron una carrera de karting con creadores de contenido y atletas como “Pollo” Castillo, Ignacio Casale, Soy Cabezón, y Ropero Paula, entre otros. En la previa también llegaron exponentes del Freestyle para realizar una exhibición de Red Bull Batalla, de la mano de los MCs Rodamiento y Racso, con Cayu como host.
    <br>
    <br>
    Posterior a eso, la agenda no se detuvo y diferentes atletas del mundo motor como Tomás De Gavardo, Nicolás Pino, Hans Probst, Alberto Heller, Gerardo Rosselot, Ignacio Casale y Francisco “Chaleco” López realizaron una demostración sobre motocicletas y autos de Rally, para luego dar el paso a un desfile de autos históricos, a cargo de “Cars and Coffee”, “Burnouts Creadores de Nubes” y “Super Cars”, marcando una tremenda jornada y un completo espectáculo para los seguidores y amantes del mundo motor.
    <br>
    <br>
    Impactante fue además el vuelo del atleta de parapente acrobático Victor “Bicho” Carrera, quien sorprendió a todos al realizar acrobacias aéreas entremedio de los edificios de la zona antes de aterrizar en plena pista.
    </h5>