<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoticiasBNB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href="noticias.css"/>
</head>
<header>
    <body>
        <header>
            <div class="logo">
                <img src="img/logo2.png" alt="Logo" width="60">
                <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                </svg>
                <div class="botones">
                
                <a href="login.html" class="btn btn-secondary botones">Iniciar sesion</a>
                <a href="registrarse.html" class="btn btn-secondary botones">Registrarse</a>
                
                </div>
        </header>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/teleton.jpeg" class="d-block w-100" alt="100">
                </div>
                <div class="carousel-item">
                    <img src="img/seleccion.jpg" class="d-block w-100" alt="100">
                </div>
                <div class="carousel-item">
                    <img src="img/f1.jpeg" class="d-block w-100" alt="100">
                </div>
                <div class="carousel-item">
                    <img src="img/policial.png" class="d-block w-100" alt="100">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <br>
            <br>
            <br>
        </div>
    </body>
        <header>
        


    <h1>Noticias de ultimo momento</h1>
    <hr>

    </header>
    <div class="product">
        <div class="product-image">
        <img src="img/biden.png" alt="Producto 1">
        </div>
        <div class="product-info">
        <h2 class="product-title">Joe Biden</h2>
        <p class="product-price">¡Dice estar seguro que hay civiles asesinados en la franja de gaza!</p>
        <a href="JoeBiden.html" class="btn btn-primary botones">Leer mas</a>
        <p class="product-stock"></p>
        </div>
    </div>
    
    <div class="product">
        <div class="product-image">
        <img src="img/coronavirus.png" alt="Producto 2">
        </div>
        <div class="product-info">
        <h2 class="product-title">Coronavirus</h2>
        <p class="product-price">La vacunación sigue siendo imporante</p>
        <p class="product-stock"></p>
        <a href="coronavirus.html" class="btn btn-primary botones">Leer mas</a>
        </div>
    </div>
    <div class="product">
        <div class="product-image">
        <img src="img/mujer.png" alt="Producto 2">
        </div>
        <div class="product-info">
        <h2 class="product-title">Guerra Israel-Gaza</h2>
        <p class="product-price"></p>
        <p class="product-stock">Testimonios desgarradores de los bombardeos en Gaza</p>
        <a href="bombardeo.html" class="btn btn-primary botones">Leer mas</a>
        <p class="product-offer-price"></p>
        </div>
    </div>
    
    </div>
    <hr>
    <h2>Deportes</h2>
    <br>
    <div class="product">
        <div class="product-image">
        <img src="img/messi.png" alt="Producto 2">
        </div>
        <div class="product-info">
        <h2 class="product-title">¿Se retira Lionel messi?</h2>
        <p class="product-price">Lionel habla con nosotros </p>
        <p class="product-stock"></p>
        <p class="product-offer-price">EXCLUSIVA</p>
        <a href="RetiroMessi.html" class="btn btn-primary botones">Leer mas</a>
        </div>
    </div>
    <div class="product">
        <div class="product-image">
        <img src="img/pizarro.png" alt="Producto 2">
        </div>
        <div class="product-info">
        <h2 class="product-title">Damian pizarro</h2>
        <p class="product-price">¿El futuro Alexis?</p>
        <a href="Damian.html" class="btn btn-primary botones">Leer mas</a>
        <p class="product-stock"></p>
        </div>
    </div>
    <div class="product">
        <div class="product-image">
        <img src="img/U.png" alt="Producto 2">
        </div>
        <div class="product-info">
        <h2 class="product-title">Seleccion chilena</h2>
        <p class="product-price">Sebastian Miranda en la orbita de la roja para hacer dupla técnica con Nicolas Cordova</p>
        <p class="product-stock"></p>
        <a href="seleccionChilena.html" class="btn btn-primary botones">Leer mas</a>
        </div>
    </div>

    </div>
    <hr>
    <h2>Nacional</h2>
    <br>
    <div class="product">
        <div class="product-image">
        <img src="img/sconcon.jpg" alt="...">
        </div>
        <div class="product-info">
        <h2 class="product-title">Gran socavon en Concón</h2>
        <p class="product-price"></p>
        <p class="product-stock">Socavon de 40 metros</p>
        <p class="product-offer-price">Precaucion en la zona</p>
        <a href="concon.html" class="btn btn-primary botones">Leer mas</a>
        </div>
    </div>
    <div class="product">
        <div class="product-image">
        <img src="img/f1.png" alt="...">
        </div>
        <div class="product-info">
        <h2 class="product-title">Gran dia de Formúla 1</h2>
        <p class="product-price">El RB7 se paseo por las condes</p>
        <a href="formula1.html" class="btn btn-primary botones">Leer mas</a>
        </div>
    </div>
    <div class="product">
        <div class="product-image">
        <img src="img/oro.png" alt="Producto 2">
        </div>
        <div class="product-info">
        <h2 class="product-title">Record de medallas del Team Chile</h2>
        <p class="product-price"></p>
        <p class="product-stock">Gran participacion de chile en los panamericanos</p>
        <a href="panamericanos.html" class="btn btn-primary botones">Leer mas</a>
        </div>
    </div>
    
</body>
</html>