<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoticiasBNB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href="biden.css"/>
</head>
<header>
        <header>
                <svg xmlns="http://www.w3.org/2000/svg" width="1" height="1" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                </svg>
            <div class="header-right">
            <div class="search-bar">
                <input type="text" placeholder="Buscar">
                <a href="..."><button>Buscar</button></a>
            </div>
            
</header>
<body>
    <center><h1>Al detalle: Las 79 medallas del Team Chile en su histórica participación en los Juegos Panamericanos de Santiago 2023</h1></center>
    <br>
    <br>
    <h4>La representación nacional tuvo una participación histórica en casa y superó el total de preseas que se obtuvieron en Lima 2019, emocionando a todos los presentes en los diferentes recintos.</h4>
    <img src="img/pana.jpg" alt="...">
    <br>
    <h5>
    El deporte chileno tuvo una destacada participación en la principal cita a nivel continental, logrando preseas nada menos que en un total de 31 disciplinas distintas, igualando su posición en el medallero de Lima 2019 y obteniendo su mejor ubicación en el ránking del total de preseas desde 1955.
    <br>
    <br>
    Total de medallas. Los Juegos Panamericanos Santiago 2023 finalizaron hoy con Chile obteniendo un total de 79 medallas, un récord absoluto en la historia de esta competencia para nuestro país.
    <br>
    <img src="img/medalla.jpg" alt="...">
    <br>
    <br>
    Comparación con Lima 2019. Del total de medallas, 12 fueron de oro, 31 de plata y 36 de bronce. Con ello, Chile logró 29 medallas más que en los Panamericanos de Lima 2019 donde obtuvo 50 medallas: 13 de oro, 19 de plata y 18 de bronce. Es decir, ahora Chile logró una medalla de oro menos que en Perú, pero 12 más de plata y 18 más de bronce.
    <br>
    <img src="img/lima.jpg" alt="...">
    <br>
    Octava y sexta ubicación. Considerando las medallas de oro, Chile logró, al igual que en Lima, el octavo lugar del medallero, pero logró saltar al sexto lugar considerando el total de medallas, superando en ese ránking a grandes potencias deportivas del continente como Argentina y Cuba.
    <br>
    <br>
    Un logro impresionante teniendo en cuenta que, hace cuatro años, nuestro país consiguió 51 medallas menos que Argentina y 50 menos que Cuba. Este sexto lugar en el ránking de medallas totales es el mejor de Chile desde 1955, cuando ocupó el cuarto lugar. Si bien en Chicago 1959 terminó sexto en el ránking de oros, fue séptimo en el medallero total.
    <br>
    <br>
    Medallas en 31 deportes distintos. Además, las medallas conseguidas en Lima 2019 fueron en 28 deportes distintos, mientras que en Santiago 2023 esta cifra subió a 31, otro récord absoluto para Chile.
    <br>
    <br>
    En cuanto a repartición de medallas por género, 45 medallas fueron conseguidas por hombres (7 de oro, 19 de plata y 19 de bronce), 31 por mujeres (5 de oro, 1o de plata y 16 de bronce) y 3 (2 de plata y 1 de bronce) en disciplinas mixtas.
    <br>
    <br>
    Deportes destacados. Los deportes que más destacaron fueron remo, atletismo y karate, que concentraron 9 de las 12 medallas de oro que consiguió Chile.
    <br>
    <br>
    Los mejores en karate. En el caso del karate, Chile terminó en el primer lugar del medallero panamericano, mientras que en el remo y el patinaje de velocidad terminó en la segunda ubicación
    </h5>