<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoticiasBNB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href="biden.css"/>
</head>
<header>
        <header>
                <svg xmlns="http://www.w3.org/2000/svg" width="1" height="1" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                </svg>
            <div class="header-right">
            <div class="search-bar">
                <input type="text" placeholder="Buscar">
                <a href="..."><button>Buscar</button></a>
            </div>
            
</header>
<body>
    <center><h1>Lionel Messi volvió a hablar de su retiro: "No sé cuánto más voy a jugar"</h1></center>
    <br>
    <br>
    <h4>Leo aseguró que todavía no piensa en dejar el fútbol y tampoco se puso plazos, pero remarcó que intentará "aprovechar" y "disfrutar" de la carrera "hasta que pueda".</h4>
    <img src="img/messi.jpg" alt="...">
    <h5>
    <br>
    El capitán de 36 años aseguró que todavía no piensa en dejar el fútbol y tampoco se puso plazos, pero remarcó que intentará "aprovechar" y "disfrutar" de la carrera "hasta que pueda".
    </h5>
    <br>
    <h3>Messi volvió a hablar de su retiro: "No sé cuánto más voy a jugar"</h3>
    <br>
    "Todavía no lo pienso, soy sincero. A mí me gusta jugar, disfruto de estar con una pelota, de estar adentro de la cancha, de competir y de los entrenamientos", expresó Messi en declaraciones
    <br>
    <br>
    "No sé cuánto más voy a jugar pero intentaré aprovechar hasta que pueda, hasta que esté bien y después veré", agregó la nueva figura de Inter Miami
    <br>
    <br>
    "Para el después, hay tiempo de pensar, analizar y elegir. Hoy lo más importante es disfrutar de lo queda, sea poco o mucho pero al máximo", insistió el capitán del seleccionado argentino.
    <br>
    <br>
    </h5>
    <h3>¿Porqué Messi decidió jugar en Inter Miami?</h3>
    <img src="img/miami.jpg" alt="...">
    <br>
    <h5>
        "Fue una decisión familiar, intentar de buscar el bien familiar. Pasamos dos años complicados, no habíamos estado bien, nos había costado", comenzó, haciendo alusión a las dos temporadas en PSG.
    <br>
    <br>
    Luego, agregó: "Era volver un poco a lo que éramos cuando estábamos en Barcelona, disfrutar el día a día, de los nenes, que la familia esté bien, que yo disfrute el día a día deportivo, que no me estaba pasando. Por muchas razones decidimos que este iba a ser el lugar y hoy, después de un tiempo, no nos equivocamos".
    <br>
    <br>
    </h5>
    <h3>Leo Messi: del "tenemos que levantarnos" al "no pensamos en los records"</h3>
    <img src="img/leo.jpg" alt="...">
    <br>
    El mejor jugador del mundo ya dejó atrás la derrota en la Bombonera y sabe que "ahora vamos a una cancha difícil, con lo que significa jugar contra Brasil, en el Maracaná. Con una selección que últimamente no se viene encontrando bien también, que perdió con Uruguay y que perdió con Colombia otra vez de visitante".
    <br>
    <br>
    "La gente en Brasil es muy exigente con la Selección, así que va a ser una linda prueba para nosotros", amplió en ese sentido.
    <br>
    <br>
    De cara al duelo del martes, Messí epxlicó que "es una motivación porque es Brasil y siempre los partidos con Brasil son especiales. Pero nosotros no pensamos en eso, ni en los récords, ni en cosas que podemos llegar a conseguir".
    <br>
    <br>
    Argentina yua dejó la derrota contra Uruguay atrás y así lo expresó el capitán: "Simplemente seguir creciendo, seguir mejorando. Mejorar lo que no hicimos bien y volver otra vez a la victoria. Y a la dinámica del juego nuestro que es lo más importante".
    <br>
    <br>
    "Los partidos con Brasil son clásicos. Son partidos aparte, de mucha historia, sobre todo por cómo viene la historia de este último tiempo. Tenemos que levantarnos y respetando lo que son ellos, porque son Brasil", concluyó el 10.

