<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoticiasBNB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href="biden.css"/>
</head>
<header>
        <header>
                <svg xmlns="http://www.w3.org/2000/svg" width="1" height="1" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                </svg>
            <div class="header-right">
            <div class="search-bar">
                <input type="text" placeholder="Buscar">
                <a href="..."><button>Buscar</button></a>
            </div>
            
</header>
<body>
    <center><h1>Sebastián Miranda en la órbita de La Roja para hacer dupla técnica con Nicolás Córdova</h1></center>
    <br>
    <br>
    <h4>El ex técnico interino de la U asoma para acompañar al ex futbolista en el partido ante Ecuador. Además, habría otro regreso.</h4>
    <img src="img/Sebastian.jpg" alt="...">
    <h5>
        <br>
        <br>
        Este viernes, Nicolás Córdova tuvo su primer entrenamiento al mando de la Selección Chilena, la cual dirigirá de forma interina para el partido del próximo martes 21 de noviembre, ante Ecuador, por la sexta fecha de las Eliminatorias rumbo al Mundial 2026.
        <br>
        <br>
        En el complejo Juan Pinto Durán, el jefe técnico de las selecciones menores se presentó ante el plantel de jugadores con parte del cuerpo técnico de la Selección Sub 20, con Ariel Leporati y Germán Tagle como asistentes, más Ricardo Madariaga de preparado físico.
        <br>
        <br>
        Sin embargo, se rumorea un “bombazo” al confirmar que existe un nombre en la órbita de La Roja para que pueda hacer dupla técnica con Córdova, ante Ecuador, y ese es el de Sebastián Miranda, que actualmente dirige el equipo de Proyección en Universidad de Chile, y donde tuvo un interinato en el Primer Equipo el 2022.
        <br>
        <br>
        Pero no es el único, porque además, otro nombre acercado a la dirigencia de la ANFP para acompañar al actual técnico interino es el de Hernán Torres, ex preparador físico de Claudio Borghi en Colo Colo y la Selección, lo que marcaría su regreso a Pinto Durán tras casi una década.
        <br>
        <br>
        <img src="img/cordova.jpg" alt="...">
        <br>
    </h5>
    <h3>¿Cuando trabajaron juntos ambos técnicos?</h3>
        <br>
        Luego del retiro de Miranda, en 2014, y tras trabajar un tiempo con las divisiones inferiores de Unión Española, el 2016 recibió el llamado de Córdova para que sea su asistente, acompañándolo en tres equipos, Palestino, Santiago Wanderers y Universitario de Perú.
        <br>
        <br>
        Pero en solitario, el ex defensor de Universidad Católica también estuvo en La Roja, cuando acompañó a Patricio Ormazábal, también como ayudante, previo a sumarse a la U, donde no sólo dirige a las juveniles, sino que más de una vez ha tomado el mando del plantel principal.
    </h5>
